name: Elixir CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Elixir
      uses: erlef/setup-elixir@v1
      with:
        elixir-version: '1.11.4'
        otp-version: '23.2'
    - run: mix deps.get
    - run: mix format --check-formatted
    - run: mix test
